html(ng-app="app" ng-strict-di)
	head
		link(href="/css/styles.css", rel="stylesheet")
	body
		div.container
			h1 Hello
			section.row
				div.col-xs-12
					div(content-directive)
					div(content-search-directive)
		footer
			script(src="/javascript/scripts.js")