html(ng-app="app" ng-strict-di)
	head
		link(href="/mncalculator/css/styles.css", rel="stylesheet")
	body
		div.container
			h1 Macronutrient calculator
			section.row
				div.col-xs-12
					h3(ng-hide="searched") Use the search form below to find the food you ate
					div(content-directive ng-show="searched")
					div(content-search-directive)
		footer.footer
			div.container
				p.pull-left.text-muted
					a(href="https://github.com/ivan-shulev/macro-nutrient-calculator") Code on GitHub
				p.pull-right.text-muted
					| Data taken from 
					a(href="http://www.usda.gov/wps/portal/usda/usdahome") USDA
			script(src="/mncalculator/javascript/scripts.js")