tr
	th
		{{food.name}}
	td
		input.form-control(type="number" string-to-number min="0" ng-model="vm.quantity" ng-change="vm.linkFunction()")
	td(ng-repeat="nutrient in food.nutrients | rowItemFilter")
		{{((nutrient.value*vm.quantity)/100 | dataSearchFilter | intToFloatFilter | rowDataFilter)}}
	td
		button.btn.btn-danger(row-removal) Remove