tr
	th
		{{food.name}}
	td
		input.form-control(type="number" string-to-number ng-model="vm.quantity" ng-change="vm.linkFunction()")
	td(ng-repeat="nutrient in food.nutrients | rowItemFilter")
		{{((nutrient.value*vm.quantity)/100 | number: 2 | dataSearchFilter)}} {{nutrient.unit}}
	td
		button.btn.btn-danger(row-removal) Remove