tr
	th
		{{food.name}}
	td
		input.form-control(type="number" string-to-number ng-model="vm.quantity" ng-change="vm.linkFunction()")
	td
		div.radio
			label
				input(type="radio" name="measures-{{food.ndbno}}" value="100" ng-model="vm.quantity" checked)
				|100g
		div.radio(ng-repeat="measure in food.nutrients[0].measures")
			label
				input(type="radio" name="measures-{{food.ndbno}}" ng-value="measure.eqv" ng-model="vm.quantity")
				{{measure.label}}
	td(ng-repeat="nutrient in food.nutrients | rowItemFilter")
		{{((nutrient.value*vm.quantity)/100 | number: 2)}} {{nutrient.unit}}
	td
		button.btn.btn-danger(row-removal) Remove